/* this is how you comment in CSS*/

html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: bisque;
  }
  
  .container {
    display: flex;
  
  }
  
  .main {
    padding-left: 30px;
  }
  
  .nav {
    background-color: #FFEE00;
    width: 160px;
  }
  
  h1 {
    font-size: 48px;
    color: black;
    text-align: center;
  }

  nav {
    height: 30px;
    /*border: 10px groove goldenrod;*/
    display: flex;
  }

    nav a {
        background-color: burlywood;
        -ms-flex: 1; /* For IE 10 */
        flex: 1; /* Weight of 1. */
        text-align: center;
        color: #052;
        border: 3px groove grey;
        text-decoration: none;
    }
    nav a:hover {
        background-color: antiquewhite;
    }

  img {
    justify-content: center; /*TODO:*/
    border-radius: 10%; /* rounded edges*/
    border: 10px solid #FFEE00;
  }
  