html, body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}
/* Animated background is used */
body {
  background-color: rgb(216, 209, 186);;
  background-repeat: repeat;
}
/* Which background for which page? */
/* TODO: BEIGE_SQUAURE_3_CL is new and looks nice, maybe put it somewhere? */
body.homepage {
  background-image: url("images/tiles/BEIGE_GOLDTIME.gif");
}
body.aboutpage {
  background-image: url("images/tiles/BEIGE_SQUARE_3.gif");
}
body.portpage {
  background-image: url("images/tiles/BEIGE_GRADTILES.gif");
}
body.resumepage {
  background-image: url("images/tiles/BEIGE_WASHER.gif");
}
body.servicepage {
  background-image: url("images/tiles/BEIGE_WAVES_2.gif");
}

p {
  padding: 10px;
  font-size: 22px;
}

h1 {
  font-size: 48px;
  text-align: center;
}
h2 {
  font-size: 48px;
  text-align: center;
}
h3 {
  font-size: 30px;
  text-align: center;
}

p a:link,
h1 a:link,
h2 a:link,
h3 a:link {
  color: rgb(105, 136, 20);
}
p a:visited,
h1 a:visited,
h2 a:visited,
h3 a:visited {
  color: rgb(82, 107, 13);
}
p a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover {
  color: forestgreen;
}


/* Contains pair of elements side-by-side */
.lrcontainer {
  display: flex;
}
  /* item in container */
  .lrcontainer .item {
    flex: 1;
  }
  /* all images in lrcontainer are constrained by their div */
  .lrcontainer img {
    width: 100%;
  }
  /* specifically a collection of gallery pictures*/
  .pictures {
    margin: 1rem;
  }
    /* Gallery is made of slides. Style used by divs that contain selection of images */
    .slide {
        border: 8px solid #052;
        background-color: rgb(235, 234, 229);
        width: 90%;
        margin: 30px;
    }
      .slide img {
          border-radius: 10%; /* rounded edges*/
          border: 1px solid forestgreen;
          max-height: 70vh;
      }
      .slide img:hover {
        opacity: 0.4;
    }

/* Div that holds resume embedding */
#resumecontainer {
  flex: 3;
  height: 30rem;
}
/* containers on the resume page */
.resumepagecontainer {
  padding: 1rem;
  text-align: center;
}
  .resumepagecontainer img {
    width: 50%;
    margin: 1rem;
  }
.aboutme {
  padding: 2rem;
}
#tamulogo {
  flex: 0.7;
}
.centerme {
  text-align: center;
}

/* Navigation bar */
.nav-set {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  list-style: none;
  margin: 0;
  padding: 0;
  background: #500000;
}

/* For mobile / narrow screens */
@media all and (max-width: 600px) {
  .nav-set {
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-set a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-set li:last-of-type a {
    border-bottom: none;
  }
}

/* Navigation buttons */
.nav-set > li {
  flex-grow: 1;
}
.nav-link {
  text-decoration: none;
  display: block;
  color: white;
  background-color: #500000;
  text-align: center;
  border: 3px groove grey;
  padding: 10px;
  font-size: 22px;
  margin: 0;
}
.nav-link:hover {
  background-color: #4f581b;
}
.nav-link.current,
.nav-link:active {
  background-color: #052;
  text-decoration: underline overline;
}