html, body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
    background-color: bisque;
  }
  
  div {
    padding-right: 30px;
    width: 100%;
  }
  
  .container {
    display: flex;
  
  }
  
  .main {
    padding-left: 30px;
  }
  
  .nav {
    background-color: #FFEE00;
    width: 160px;
  }
  
  h1 {
    font-size: 48px;
    color: black;
    text-align: center;
  }
  
  .banner-dropdown {
    padding-left: 20px;
    background-color: burlywood;
    color: rebeccapurple;
    inset-block: top;
  }
  
  video {
    background-color: #000000;
    border: 2px solid black;
  }
  
  